<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Couples and Lovers Retreat</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Couples and Lovers Retreat</h1>
    <p>Join us for an unforgettable evening of love and connection!</p>
        <p>Date: January 20, 2025 | Location: Tanscorp Hilton Hotel, Abuja.</p>
        <a href="/tickets" class="btn">Buy Tickets
            <img src="/static/heart.png" alt="Heart Icon">
        </a>
    </header>
    <script src="/static/main.js"></script>
</body>
</html>
