<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Payment Successful</title>
</head>
<body>
    <div class="success-message">
        <h1>Payment Successful</h1>
        <p>Your ticket(s) for the Couples and Lovers Retreat is confirmed and your Reservation(s) has been Booked.<br>
        See you at the event!</p>
    </div>
    <script src="/static/main.js"></script>
</body>
</html>
